
html{
  overflow-x: hidden ;
}
body {
  font-family: 'Lato', sans-serif;
  background: url("../img/pattern.png") center, radial-gradient(ellipse at center, rgba(147, 34, 42, 1) 0%, rgba(97, 6, 24, 1) 61%, rgba(49, 3, 12, 1) 100%);
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}


textarea:focus, input:focus {
  outline: none;
}

.middle-items {
  align-items: center;
}

h1 {
  font-weight: 900;
  font-size: 4rem;
  color: var(--primary-color);
}


h2 {
  font-weight: 900;
  font-size: 2rem;
  color: var(--primary-color);
}

h3 {
  font-weight: 900;
  font-size: 1.6rem;
  color: var(--primary-color);
}
h4 {
  font-weight: 900;
  font-size: 1.6rem;
  color: #93222a;
}

.button {
  background: var(--darkGrey-color);
  min-height: 2.4rem;
  padding: 0 !important;
  margin-left: 2rem;
}

.back-primary {
  background: var(--primary-color);
}

.color-primary {
  color: var(--primary-color);
}

.is-invalid {
  font-size: 1.4rem;
  color: var(--error-color);
}

.capitalize {
  text-transform: capitalize;
}

::-webkit-input-placeholder {
  color: #bdbdbd;
  font-style: italic;
}

::-moz-placeholder {
  color: #bdbdbd;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #bdbdbd;
  font-style: italic;
}

::placeholder {
  color: #bdbdbd;
  font-style: italic;
}

svg {
  display: flex;
}

.container {


}

.table-container {
  max-width: 100%;
}

.Main {
  max-width: 100vw;
}

tr:nth-child(2n) {
  background: #f7fbf9;
}

.button-submit {
  min-height: initial;
  font-weight: 800;
  color: #570615;
  border-radius: .4rem;
}

.text-shadow {
  text-shadow: 2px 2px 2px #00000091;
}
.is-text-justify{
  text-align: justify;
}
iframe{
    max-width: 100%;
}
