:root {
  --primary-color: #538bf4;
  --secondary-color: #5a6169;
  --link-color: #538bf4;
  --fontPrimary--color: #434343;
  --lightGrey-color: #e9ecef;
  --darkGrey-color: #8fa4b8;
  --dark-color: #5a6169;
  --active-color: #007bff;
  --success-color: #17c671;
  --warning-color: #ffb400;
  --info-color: #00b8d8;
  --error-color: #c4183c;
  --grid-maxWidth: 1200px;
  --grid-gutter: 1.6rem;
  --grid-columns: 16;
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--fontPrimary--color);
  font-weight: 400;
  font-family: var(--font-family);
  font-size: 1.6rem;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0.8rem 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover:not(.button) {
  opacity: 0.6;
}

a:active,
a:hover {
  outline-width: 0;
}

p {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
  letter-spacing: -0.16px;
}

blockquote {
  background-color: #f3f3f3;
  padding: 1.6rem 2.2rem;
  border-left: 0.4rem solid var(--lightGrey-color);
}

hr {
  background-color: var(--lightGrey-color);
  height: 1px;
  margin: 1rem 0;
}

hr,
table {
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

tr:nth-child(2n) {
  background: #f7f8fb;
}

td,
th {
  vertical-align: middle;
  padding: 1.2rem 0.4rem;
  min-width: 14.4rem;
}

thead {
  border-bottom: 2px solid var(--lightGrey-color);
}

tfoot {
  border-top: 2px solid var(--lightGrey-color);
}

.table-container {
  max-width: 96%;
  overflow-x: auto;
}

code,
kbd,
pre,
samp,
tt {
  font-family: monaco, Consolas, Lucida Console, monospace;
}

code,
kbd {
  font-size: 90%;
  white-space: pre-wrap;
  border-radius: 4px;
  color: #c62424;
  padding: 0.4rem;
  background-color: #f7f7f7;
}

pre {
  background-color: #1e272c;
  padding: 1rem;
  overflow-x: auto;
  color: #fff;
}

pre .nt {
  color: #89ddf7;
}

pre .na {
  color: #f07178;
}

pre .s {
  color: #fc0;
}

pre .l {
  color: #f78c6c;
}

pre .nc {
  color: gray;
}

pre code {
  background: none;
  padding: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

fieldset {
  border: 1rem solid var(--lightGrey-color);
}

iframe {
  border: 0;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -moz-appearance: button;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.container {
  max-width: var(--grid-maxWidth);
  margin: 0 auto;
  width: 96%;
  padding: 0 calc(var(--grid-gutter) / 2);
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row,
.row.reverse {
}

.row.reverse {
  flex-direction: row-reverse;
}

.row .col {
  flex: 1;
}

.col-1 {
  flex: 0 0 6.25%;
  max-width: 6.25%;
}

.col-1,
.col-2 {
  -webkit-box-flex: 0;
}

.col-2 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-3 {
  flex: 0 0 18.75%;
  max-width: 18.75%;
}

.col-3,
.col-4 {
  -webkit-box-flex: 0;
}

.col-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-5 {
  flex: 0 0 31.25%;
  max-width: 31.25%;
}

.col-5,
.col-6 {
  -webkit-box-flex: 0;
}

.col-6 {
  flex: 0 0 37.5%;
  max-width: 37.5%;
}

.col-7 {
  flex: 0 0 43.75%;
  max-width: 43.75%;
}

.col-7,
.col-8 {
  -webkit-box-flex: 0;
}

.col-8 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-9 {
  flex: 0 0 56.25%;
  max-width: 56.25%;
}

.col-9,
.col-10 {
  -webkit-box-flex: 0;
}

.col-10 {
  flex: 0 0 62.5%;
  max-width: 62.5%;
}

.col-11 {
  flex: 0 0 68.75%;
  max-width: 68.75%;
}

.col-11,
.col-12 {
  -webkit-box-flex: 0;
}

.col-12 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-13 {
  flex: 0 0 81.25%;
  max-width: 81.25%;
}

.col-13,
.col-14 {
  -webkit-box-flex: 0;
}

.col-14 {
  flex: 0 0 87.5%;
  max-width: 87.5%;
}

.col-15 {
  flex: 0 0 93.75%;
  max-width: 93.75%;
}

.col-15,
.col-16 {
  -webkit-box-flex: 0;
}

.col-16 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 720px) {
  .col-m-1 {
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }

  .col-m-1,
  .col-m-2 {
    -webkit-box-flex: 0;
  }

  .col-m-2 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .col-m-3 {
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }

  .col-m-3,
  .col-m-4 {
    -webkit-box-flex: 0;
  }

  .col-m-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-m-5 {
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }

  .col-m-5,
  .col-m-6 {
    -webkit-box-flex: 0;
  }

  .col-m-6 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  .col-m-7 {
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }

  .col-m-7,
  .col-m-8 {
    -webkit-box-flex: 0;
  }

  .col-m-8 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-m-9 {
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }

  .col-m-10 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }

  .col-m-11 {
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }

  .col-m-12 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-m-13 {
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }

  .col-m-14 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  .col-m-15 {
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }

  .col-m-16 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-l-1 {
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }

  .col-l-1,
  .col-l-2 {
    -webkit-box-flex: 0;
  }

  .col-l-2 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .col-l-3 {
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }

  .col-l-3,
  .col-l-4 {
    -webkit-box-flex: 0;
  }

  .col-l-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-l-5 {
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }

  .col-l-5,
  .col-l-6 {
    -webkit-box-flex: 0;
  }

  .col-l-6 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  .col-l-7 {
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }

  .col-l-7,
  .col-l-8 {
    -webkit-box-flex: 0;
  }

  .col-l-8 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-l-9 {
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }

  .col-l-10 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }

  .col-l-11 {
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }

  .col-l-12 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-l-13 {
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }

  .col-l-14 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  .col-l-15 {
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }

  .col-l-16 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.is-columns {
  flex-direction: column;
}

.is-columns div:nth-child(2n) {
  padding-right: 10rem;
}

.is-columns div:nth-child(odd) {
  padding-left: 10rem;
}

.justify-start {
  justify-content: flex-start;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-around {
  align-content: space-around;
}

.align-content-between {
  align-content: space-between;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-stretch {
  align-content: stretch;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

@media (min-width: 1200px) {
  .justify-start-l {
    justify-content: flex-start;
  }

  .justify-around-l {
    justify-content: space-around;
  }

  .justify-between-l {
    justify-content: space-between;
  }

  .justify-end-l {
    justify-content: flex-end;
  }

  .justify-center-l {
    justify-content: center;
  }

  .justify-evenly-l {
    justify-content: space-evenly;
  }

  .align-content-start-l {
    align-content: flex-start;
  }

  .align-content-around-l {
    align-content: space-around;
  }

  .align-content-between-l {
    align-content: space-between;
  }

  .align-content-end-l {
    align-content: flex-end;
  }

  .align-content-center-l {
    align-content: center;
  }

  .align-content-stretch-l {
    align-content: stretch;
  }

  .align-start-l {
    align-items: flex-start;
  }

  .align-end-l {
    align-items: flex-end;
  }

  .align-center-l {
    align-items: center;
  }

  .align-baseline-l {
    align-items: baseline;
  }

  .align-stretch-l {
    align-items: stretch;
  }
}

@media (min-width: 720px) {
  .justify-start-m {
    justify-content: flex-start;
  }

  .justify-around-m {
    justify-content: space-around;
  }

  .justify-between-m {
    justify-content: space-between;
  }

  .justify-end-m {
    justify-content: flex-end;
  }

  .justify-center-m {
    justify-content: center;
  }

  .justify-evenly-m {
    justify-content: space-evenly;
  }

  .align-content-start-m {
    align-content: flex-start;
  }

  .align-content-around-m {
    align-content: space-around;
  }

  .align-content-between-m {
    align-content: space-between;
  }

  .align-content-end-m {
    align-content: flex-end;
  }

  .align-content-center-m {
    align-content: center;
  }

  .align-content-stretch-m {
    align-content: stretch;
  }

  .align-start-m {
    align-items: flex-start;
  }

  .align-end-m {
    align-items: flex-end;
  }

  .align-center-m {
    align-items: center;
  }

  .align-baseline-m {
    align-items: baseline;
  }

  .align-stretch-m {
    align-items: stretch;
  }
}

fieldset {
  padding: 0.5rem 2rem;
  border: 1px solid var(--lightGrey-color);
}

legend {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1rem;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=color]):not([type=button]):not([type=reset]):not([type=range]),
select,
textarea,
textarea[type=text] {
  font-family: inherit;
  padding: 1.2rem 1.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--lightGrey-color);
  font-size: 1em;
  transition: all 0.2s ease;
  display: block;
  width: 100%;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=color]):not([type=button]):not([type=reset]):not([type=range]):focus,
input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=color]):not([type=button]):not([type=reset]):not([type=range]):hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover,
textarea[type=text]:focus,
textarea[type=text]:hover {
  border-color: var(--darkGrey-color);
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=color]):not([type=button]):not([type=reset]):not([type=range]).success,
select.success,
textarea.success,
textarea[type=text].success {
  border-color: var(--success-color);
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=color]):not([type=button]):not([type=reset]):not([type=range]).error,
select.error,
textarea.error,
textarea[type=text].error {
  border-color: var(--error-color);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: transparent;
  text-shadow: 0 0 0 var(--fontPrimary--color);
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAANBAMAAABiGeI2AAAAAXNSR0IArs4c6QAAABVQTFRFAAAAAAAAAAAAAAAAAAAAAAAAAAAAEgEApAAAAAZ0Uk5TAAQgjq7gQDFL+gAAAC5JREFUCNdjYGBQYgACplAFIKmaFgRkhqWlKjAIu7i4GDJgAog4RA1EPVQvyBwAJfcHk8E7lP8AAAAASUVORK5CYII=") no-repeat 100%;
  background-size: 1ex;
  background-origin: content-box;
}

[type=checkbox] {
  visibility: hidden;
}

[type=checkbox] + label {
  position: relative;
  padding-left: 2.8rem;
  line-height: 2rem;
  padding-top: 0.2rem;
}

[type=checkbox] + label:before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.2rem;
  background: #fff;
  border: 1px solid #becad6;
  transition: background 0.4s;
  will-change: color;
}

[type=checkbox] + label:after {
  content: "";
  width: 0.8rem;
  height: 0.3rem;
  position: absolute;
  top: 0.8rem;
  left: 0.6rem;
  border: 0.2rem solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(180deg);
  transition: transform 0.4s;
  will-change: transform;
}

[type=checkbox]:checked + label:before {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

[type=checkbox]:checked + label:after {
  transform: rotate(-45deg);
}

[type=radio] {
  visibility: hidden;
}

[type=radio] + label {
  position: relative;
  padding-left: 2.8rem;
  line-height: 2rem;
  padding-top: 0.2rem;
}

[type=radio] + label:before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #becad6;
}

[type=radio] + label:after {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  border-radius: 50%;
  background: #fff;
}

[type=radio]:checked + label:before {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

[type=radio]:checked + label:after {
  transform: rotate(-45deg);
}

input[type=range] {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  margin: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--primary-color);
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
  background: var(--primary-color);
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 1;
  position: relative;
  background: #fff;
  border: 2px solid var(--primary-color);
  box-shadow: 0 2px 3px 0 rgba(90, 97, 105, 0.2), 0 3px 15px 0 rgba(90, 97, 105, 0.1);
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 25px;
  cursor: pointer;
  top: -12px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-moz-range-thumb {
  z-index: 1;
  position: relative;
  background: #fff;
  border: 2px solid var(--primary-color);
  box-shadow: 0 2px 3px 0 rgba(90, 97, 105, 0.2), 0 3px 15px 0 rgba(90, 97, 105, 0.1);
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 25px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-ms-thumb {
  z-index: 1;
  position: relative;
  background: #fff;
  border: 2px solid var(--primary-color);
  box-shadow: 0 2px 3px 0 rgba(90, 97, 105, 0.2), 0 3px 15px 0 rgba(90, 97, 105, 0.1);
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 25px;
  cursor: pointer;
}

.button,
[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
  padding: 1rem 2.5rem;
  color: #fff;
  background: var(--primary-color);
  border: none;
  font-size: 1.5rem;
  text-align: center;
  transition: opacity 0.2s ease;
  text-decoration: none;
  transform: scale(1);
  display: inline-block;
  min-width: 15.2rem;
  min-height: 4.4rem;
}

.button:active,
[type=button]:active,
[type=reset]:active,
[type=submit]:active,
button:active {
  transform: scale(0.98);
}

.button:hover,
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover,
button:hover {
  opacity: 0.8;
}

.button.secondary-button,
[type=button].secondary-button,
[type=reset].secondary-button,
[type=submit].secondary-button,
button.secondary-button {
  background: var(--secondary-color);
}

.button.success-button,
[type=button].success-button,
[type=reset].success-button,
[type=submit].success-button,
button.success-button {
  background: var(--success-color);
}

.button.error-button,
[type=button].error-button,
[type=reset].error-button,
[type=submit].error-button,
button.error-button {
  background: var(--error-color);
}

.button.warning-button,
[type=button].warning-button,
[type=reset].warning-button,
[type=submit].warning-button,
button.warning-button {
  background: var(--warning-color);
}

.button.info-button,
[type=button].info-button,
[type=reset].info-button,
[type=submit].info-button,
button.info-button {
  background: var(--info-color);
}

.button.light-button,
[type=button].light-button,
[type=reset].light-button,
[type=submit].light-button,
button.light-button {
  background: var(--lightGrey-color);
  color: var(--secondary-color);
}

button[disabled],
button[disabled]:hover,
input[disabled],
input[disabled]:hover {
  opacity: 0.4;
  cursor: not-allowed;
}

.radius-button {
  border-radius: 0.4rem;
}

.outline-primary {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.outline-secondary {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.outline-success {
  background-color: transparent;
  border: 1px solid var(--success-color);
  color: var(--success-color);
}

.outline-error {
  background-color: transparent;
  border: 1px solid var(--error-color);
  color: var(--error-color);
}

.outline-warning {
  background-color: transparent;
  border: 1px solid var(--warning-color);
  color: var(--warning-color);
}

.outline-info {
  background-color: transparent;
  border: 1px solid var(--info-color);
  color: var(--info-color);
}

.outline-light {
  background-color: transparent;
  border: 1px solid var(--lightGrey-color);
  color: var(--lightGrey-color);
}

.button.clear {
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-color);
  display: initial;
  padding: 0;
}

.card,
.card-2 {
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.05), 0 60px 100px 0 hsla(0, 0%, 75%, 0.5);
}

.card header {
  margin-top: 2.4rem;
  letter-spacing: -0.56px;
}

.card-content,
.card header {
  padding: 0 3.2rem;
}

.card p {
  letter-spacing: -0.56px;
}

.card-2 footer,
.card footer {
  padding: 1.2rem 3.2rem 0;
  margin-bottom: 2.4rem;
}

.card-2 header {
  margin-top: 0;
  padding: 1.2rem 3.2rem 0.8rem;
  letter-spacing: -0.56px;
  background: var(--success-color);
  color: #fff;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.card-2 h3 {
  margin: 0;
}

[class^=alert-] {
  width: 100%;
  padding: 16px 56px;
  margin-bottom: 10px;
}

.alert-info {
  color: #cef8ff;
  background: var(--info-color) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAASCAMAAABRnG9EAAAAAXNSR0IArs4c6QAAAEtQTFRFAAAA1///0///0v//0fj/0fv/z/v/0fv/zvj/0Pr/zvn/zvr/z/n/zvn/z/n/zvn/zvj/zvj/zvj/zvj/zvj/z/n/z/n/z/n/zvj/eyTaDAAAABh0Uk5TABMdIic9RUhJbYiNqay2zdvg5ebr7fL56bv3ywAAAEpJREFUCNd1zDkSgCAUBNFWEXFB3IB//5OKSGCV+qJOZkBHkaCAXhLzjHb3fm34MMzJVIFkHUQpK21fP/9hjyu2sfzIQrjDoUxWnykrB52F6QWCAAAAAElFTkSuQmCC") no-repeat -2.6rem;
  background-origin: content-box;
}

.alert-success {
  color: #d7fae9;
  background: var(--success-color) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAPCAMAAADTRh9nAAAAAXNSR0IArs4c6QAAAF1QTFRFAAAA////////4///2//z2f/s2//t3f/q2v/s2//t2//t2//r2Pvr2fzq2fzr2Prp2frp2Pvq2Pzp2Prq2frq1/rq2Prp2Pvq2Pvp1/rq2Prq2Pvq1/vp2Pvp1/rpNyDUswAAAB50Uk5TAAECCRUbHCUpKisyQVdYaWp8l56foKSqsdvc5ejpKpHfNgAAAF1JREFUGNNtyEcSgDAMQ1ERWui9g+9/TDJhIHYGrb4eIKfnGv7yi6j1LDNGVP4YVSbDQlofAMlGk7J2fhbtJkYlDI3NQWlmiA97Fm5A+qgwrs6ccntV2qO+GV07Zjf8ug1FA1WSpgAAAABJRU5ErkJggg==") no-repeat -3.2rem;
  background-origin: content-box;
}

.alert-warning {
  color: #fffcf5;
  background: var(--warning-color) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAMAAAB1/u6nAAAAAXNSR0IArs4c6QAAAHtQTFRFAAAA///////////////////4///4///2///3///4///4///4///1//z2//z2//z3//z3//z3//z3//31//31//32//33//32//32//32//31//31//32//32//z2//z1//z2//31//31//32//32//32//32//32//z1AyT7NAAAACh0Uk5TAAMKFRYkJTdCSUtMTVVWXmBkZWhqbXyHkpOdoaOkqrTBzdXa3OXy+hqWJQUAAAChSURBVBgZbcGJAoFAAEXRly2RJQzZkgr3/7/QNJOtnKO3weUyUFcGmTpCrFBtOVaulhgn1o+gwCkCfVvBwZgDJPrSu8FYGsOtp48tMJGmwFZv/Tswk+bAva+XPdZCWmLt1Rg+sNbSBusxlJdRO0bRmVomJ6QlVC3HOUXRCSeXFeMZyeDFUlDgGcngFYESGtc0vdJIVPFHpZI/So12acdu9ATauySI+ENrrQAAAABJRU5ErkJggg==") no-repeat -3.2rem;
  background-origin: content-box;
  background-size: 2.4ex;
}

.alert-error {
  color: #fad7de;
  background: var(--error-color) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAMAAABYi/ZGAAAAAXNSR0IArs4c6QAAAPxQTFRFAAAA/////////////9v//+bm/+rq/9jr/9nm/9zo/97p/9zl/93j/9je/9rg/9vh/9vh/9zi/9vg+9ff+9nh+9rh/Nng/Nrh/Nfh/Njf/Nfg/Njh/Nnf/Njg/Njg+tjf+9fg+9fg+9jf+9jf/Nng/Nje/Njf/Njf+tff+tjf+tje+tjf+9ff+9ff+9je+9jf+9ff+9jf+9jf+9ff+9ff+9ff+9je+tff+tje+tfe+tff+tff+tjf+tfe+tjf+tjf+tff+9jf+9ff+9ff+9je+9je+9ff+9ff+9ff+9je+9fe+9ff+9jf+9je+9fe+9fe+9jf+9jf+9jf+tfevZkx4QAAAFN0Uk5TAAIDBgcKDA0UFhcdJScpKissMUBDRElMTU9TVFhbY29zeoiJkpWWmJmdpKWtrrK3ub6/wMbHys7S09TV19vd3+Dk5ufq6+zt7vLz9ff4+fv8/f4YjeFLAAAAxUlEQVQYGU3BiTpCURiG0RclKRIpc1EZMyUydJRMFaK++78Xe//n9LAWkXhmJR3jn5nthpzReWGKyMK9JurzmFxf0ncQPI4ldTM4qVc5NeBWTmsWuJR3BrTkHcKyzAXQlvc1x4HMFdCVKXEjcw30ZE54kWkCHzINBjIPwI9MkzuZNsQUOqWm0PPTm0J7rMv0CvlNhZaY7sgLAJk6sDqSEwDyBos4u3KG+5UjOeMtzM6nJt7zRLLHQ3n9aoo/yY1SubiWwPwCrrdLdv91e0AAAAAASUVORK5CYII=") no-repeat -3.2rem;
  background-origin: content-box;
  background-size: 2.4ex;
}

.tag {
  display: inline-block;
  border: 1px solid var(--lightGrey-color);
  text-transform: uppercase;
  color: var(--darkGrey-color);
  padding: 0.5rem;
  line-height: 1;
  letter-spacing: 0.5px;
}

.tag.is-small {
  padding: 0.4rem;
  font-size: 0.75em;
}

.tag.is-large {
  padding: 0.7rem;
  font-size: 1.125em;
}

.tag + .tag {
  margin-left: 1rem;
}

.nav {
  display: flex;
  min-height: 5rem;
  align-items: stretch;
}

.nav img {
  max-height: 4rem;
}

.nav-links a {
  padding: 0 0.8rem;
}

.nav a.button {
  display: block;
}

.nav a:not(.button) {
  color: var(--secondary-color);
}

.nav .active:not(.button) {
  color: var(--primary-color);
}

.nav .row {
  margin-bottom: 1.6rem;
}

@media (min-width: 720px) {
  .nav .row {
    margin-bottom: 0;
  }
}

.m-a {
  margin: auto;
}

.p-a {
  padding: auto;
}

.margin-0 {
  margin: 0;
}

.m-t-a-0 {
  margin: 0 auto;
}

.m-l-a-0 {
  margin: auto 0;
}

.m-l-l0,
.m-t-l-0 {
  margin: 0;
}

.m-t-0 {
  margin-top: 0;
}

.m-l-0 {
  margin-left: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}

.p-t-0 {
  padding-top: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-b-0 {
  margin-bottom: 0;
}

.p-t-a-0 {
  padding: 0 auto;
}

.p-l-a0 {
  padding: auto 0;
}

.p-l-l0,
.p-t-l-0 {
  padding: 0;
}

.margin-4 {
  margin: 4px;
}

.m-t-a-4 {
  margin: 4px auto;
}

.m-l-a-4 {
  margin: auto 4px;
}

.m-t-l-4 {
  margin: 4px 0;
}

.m-l-l4 {
  margin: 0 4px;
}

.m-t-4 {
  margin-top: 4px;
}

.m-l-4 {
  margin-left: 4px;
}

.m-r-4 {
  margin-right: 4px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.p-4 {
  padding: 4px;
}

.p-t-4 {
  padding-top: 4px;
}

.p-l-4 {
  padding-left: 4px;
}

.p-r-4 {
  padding-right: 4px;
}

.p-b-4 {
  margin-bottom: 4px;
}

.p-t-a-4 {
  padding: 4px auto;
}

.p-l-a4 {
  padding: auto 4px;
}

.p-t-l-4 {
  padding: 4px 0;
}

.p-l-l4 {
  padding: 0 4px;
}

.margin-8 {
  margin: 8px;
}

.m-t-a-8 {
  margin: 8px auto;
}

.m-l-a-8 {
  margin: auto 8px;
}

.m-t-l-8 {
  margin: 8px 0;
}

.m-l-l8 {
  margin: 0 8px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.p-8 {
  padding: 8px;
}

.p-t-8 {
  padding-top: 8px;
}

.p-l-8 {
  padding-left: 8px;
}

.p-r-8 {
  padding-right: 8px;
}

.p-b-8 {
  margin-bottom: 8px;
}

.p-t-a-8 {
  padding: 8px auto;
}

.p-l-a8 {
  padding: auto 8px;
}

.p-t-l-8 {
  padding: 8px 0;
}

.p-l-l8 {
  padding: 0 8px;
}

.margin-12 {
  margin: 12px;
}

.m-t-a-12 {
  margin: 12px auto;
}

.m-l-a-12 {
  margin: auto 12px;
}

.m-t-l-12 {
  margin: 12px 0;
}

.m-l-l12 {
  margin: 0 12px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-l-12 {
  margin-left: 12px;
}

.m-r-12 {
  margin-right: 12px;
}

.m-b-12 {
  margin-bottom: 12px;
}

.p-12 {
  padding: 12px;
}

.p-t-12 {
  padding-top: 12px;
}

.p-l-12 {
  padding-left: 12px;
}

.p-r-12 {
  padding-right: 12px;
}

.p-b-12 {
  margin-bottom: 12px;
}

.p-t-a-12 {
  padding: 12px auto;
}

.p-l-a12 {
  padding: auto 12px;
}

.p-t-l-12 {
  padding: 12px 0;
}

.p-l-l12 {
  padding: 0 12px;
}

.margin-16 {
  margin: 16px;
}

.m-t-a-16 {
  margin: 16px auto;
}

.m-l-a-16 {
  margin: auto 16px;
}

.m-t-l-16 {
  margin: 16px 0;
}

.m-l-l16 {
  margin: 0 16px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-l-16 {
  margin-left: 16px;
}

.m-r-16 {
  margin-right: 16px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.p-16 {
  padding: 16px;
}

.p-t-16 {
  padding-top: 16px;
}

.p-l-16 {
  padding-left: 16px;
}

.p-r-16 {
  padding-right: 16px;
}

.p-b-16 {
  margin-bottom: 16px;
}

.p-t-a-16 {
  padding: 16px auto;
}

.p-l-a16 {
  padding: auto 16px;
}

.p-t-l-16 {
  padding: 16px 0;
}

.p-l-l16 {
  padding: 0 16px;
}

.margin-20 {
  margin: 20px;
}

.m-t-a-20 {
  margin: 20px auto;
}

.m-l-a-20 {
  margin: auto 20px;
}

.m-t-l-20 {
  margin: 20px 0;
}

.m-l-l20 {
  margin: 0 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-b-20 {
  margin-bottom: 20px;
}

.p-t-a-20 {
  padding: 20px auto;
}

.p-l-a20 {
  padding: auto 20px;
}

.p-t-l-20 {
  padding: 20px 0;
}

.p-l-l20 {
  padding: 0 20px;
}

.margin-24 {
  margin: 24px;
}

.m-t-a-24 {
  margin: 24px auto;
}

.m-l-a-24 {
  margin: auto 24px;
}

.m-t-l-24 {
  margin: 24px 0;
}

.m-l-l24 {
  margin: 0 24px;
}

.m-t-24 {
  margin-top: 24px;
}

.m-l-24 {
  margin-left: 24px;
}

.m-r-24 {
  margin-right: 24px;
}

.m-b-24 {
  margin-bottom: 24px;
}

.p-24 {
  padding: 24px;
}

.p-t-24 {
  padding-top: 24px;
}

.p-l-24 {
  padding-left: 24px;
}

.p-r-24 {
  padding-right: 24px;
}

.p-b-24 {
  margin-bottom: 24px;
}

.p-t-a-24 {
  padding: 24px auto;
}

.p-l-a24 {
  padding: auto 24px;
}

.p-t-l-24 {
  padding: 24px 0;
}

.p-l-l24 {
  padding: 0 24px;
}

.margin-28 {
  margin: 28px;
}

.m-t-a-28 {
  margin: 28px auto;
}

.m-l-a-28 {
  margin: auto 28px;
}

.m-t-l-28 {
  margin: 28px 0;
}

.m-l-l28 {
  margin: 0 28px;
}

.m-t-28 {
  margin-top: 28px;
}

.m-l-28 {
  margin-left: 28px;
}

.m-r-28 {
  margin-right: 28px;
}

.m-b-28 {
  margin-bottom: 28px;
}

.p-28 {
  padding: 28px;
}

.p-t-28 {
  padding-top: 28px;
}

.p-l-28 {
  padding-left: 28px;
}

.p-r-28 {
  padding-right: 28px;
}

.p-b-28 {
  margin-bottom: 28px;
}

.p-t-a-28 {
  padding: 28px auto;
}

.p-l-a28 {
  padding: auto 28px;
}

.p-t-l-28 {
  padding: 28px 0;
}

.p-l-l28 {
  padding: 0 28px;
}

.margin-32 {
  margin: 32px;
}

.m-t-a-32 {
  margin: 32px auto;
}

.m-l-a-32 {
  margin: auto 32px;
}

.m-t-l-32 {
  margin: 32px 0;
}

.m-l-l32 {
  margin: 0 32px;
}

.m-t-32 {
  margin-top: 32px;
}

.m-l-32 {
  margin-left: 32px;
}

.m-r-32 {
  margin-right: 32px;
}

.m-b-32 {
  margin-bottom: 32px;
}

.p-32 {
  padding: 32px;
}

.p-t-32 {
  padding-top: 32px;
}

.p-l-32 {
  padding-left: 32px;
}

.p-r-32 {
  padding-right: 32px;
}

.p-b-32 {
  margin-bottom: 32px;
}

.p-t-a-32 {
  padding: 32px auto;
}

.p-l-a32 {
  padding: auto 32px;
}

.p-t-l-32 {
  padding: 32px 0;
}

.p-l-l32 {
  padding: 0 32px;
}

.margin-36 {
  margin: 36px;
}

.m-t-a-36 {
  margin: 36px auto;
}

.m-l-a-36 {
  margin: auto 36px;
}

.m-t-l-36 {
  margin: 36px 0;
}

.m-l-l36 {
  margin: 0 36px;
}

.m-t-36 {
  margin-top: 36px;
}

.m-l-36 {
  margin-left: 36px;
}

.m-r-36 {
  margin-right: 36px;
}

.m-b-36 {
  margin-bottom: 36px;
}

.p-36 {
  padding: 36px;
}

.p-t-36 {
  padding-top: 36px;
}

.p-l-36 {
  padding-left: 36px;
}

.p-r-36 {
  padding-right: 36px;
}

.p-b-36 {
  margin-bottom: 36px;
}

.p-t-a-36 {
  padding: 36px auto;
}

.p-l-a36 {
  padding: auto 36px;
}

.p-t-l-36 {
  padding: 36px 0;
}

.p-l-l36 {
  padding: 0 36px;
}

.margin-40 {
  margin: 40px;
}

.m-t-a-40 {
  margin: 40px auto;
}

.m-l-a-40 {
  margin: auto 40px;
}

.m-t-l-40 {
  margin: 40px 0;
}

.m-l-l40 {
  margin: 0 40px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.p-40 {
  padding: 40px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-b-40 {
  margin-bottom: 40px;
}

.p-t-a-40 {
  padding: 40px auto;
}

.p-l-a40 {
  padding: auto 40px;
}

.p-t-l-40 {
  padding: 40px 0;
}

.p-l-l40 {
  padding: 0 40px;
}

.margin-44 {
  margin: 44px;
}

.m-t-a-44 {
  margin: 44px auto;
}

.m-l-a-44 {
  margin: auto 44px;
}

.m-t-l-44 {
  margin: 44px 0;
}

.m-l-l44 {
  margin: 0 44px;
}

.m-t-44 {
  margin-top: 44px;
}

.m-l-44 {
  margin-left: 44px;
}

.m-r-44 {
  margin-right: 44px;
}

.m-b-44 {
  margin-bottom: 44px;
}

.p-44 {
  padding: 44px;
}

.p-t-44 {
  padding-top: 44px;
}

.p-l-44 {
  padding-left: 44px;
}

.p-r-44 {
  padding-right: 44px;
}

.p-b-44 {
  margin-bottom: 44px;
}

.p-t-a-44 {
  padding: 44px auto;
}

.p-l-a44 {
  padding: auto 44px;
}

.p-t-l-44 {
  padding: 44px 0;
}

.p-l-l44 {
  padding: 0 44px;
}

.margin-48 {
  margin: 48px;
}

.m-t-a-48 {
  margin: 48px auto;
}

.m-l-a-48 {
  margin: auto 48px;
}

.m-t-l-48 {
  margin: 48px 0;
}

.m-l-l48 {
  margin: 0 48px;
}

.m-t-48 {
  margin-top: 48px;
}

.m-l-48 {
  margin-left: 48px;
}

.m-r-48 {
  margin-right: 48px;
}

.m-b-48 {
  margin-bottom: 48px;
}

.p-48 {
  padding: 48px;
}

.p-t-48 {
  padding-top: 48px;
}

.p-l-48 {
  padding-left: 48px;
}

.p-r-48 {
  padding-right: 48px;
}

.p-b-48 {
  margin-bottom: 48px;
}

.p-t-a-48 {
  padding: 48px auto;
}

.p-l-a48 {
  padding: auto 48px;
}

.p-t-l-48 {
  padding: 48px 0;
}

.p-l-l48 {
  padding: 0 48px;
}

.margin-52 {
  margin: 52px;
}

.m-t-a-52 {
  margin: 52px auto;
}

.m-l-a-52 {
  margin: auto 52px;
}

.m-t-l-52 {
  margin: 52px 0;
}

.m-l-l52 {
  margin: 0 52px;
}

.m-t-52 {
  margin-top: 52px;
}

.m-l-52 {
  margin-left: 52px;
}

.m-r-52 {
  margin-right: 52px;
}

.m-b-52 {
  margin-bottom: 52px;
}

.p-52 {
  padding: 52px;
}

.p-t-52 {
  padding-top: 52px;
}

.p-l-52 {
  padding-left: 52px;
}

.p-r-52 {
  padding-right: 52px;
}

.p-b-52 {
  margin-bottom: 52px;
}

.p-t-a-52 {
  padding: 52px auto;
}

.p-l-a52 {
  padding: auto 52px;
}

.p-t-l-52 {
  padding: 52px 0;
}

.p-l-l52 {
  padding: 0 52px;
}

.margin-56 {
  margin: 56px;
}

.m-t-a-56 {
  margin: 56px auto;
}

.m-l-a-56 {
  margin: auto 56px;
}

.m-t-l-56 {
  margin: 56px 0;
}

.m-l-l56 {
  margin: 0 56px;
}

.m-t-56 {
  margin-top: 56px;
}

.m-l-56 {
  margin-left: 56px;
}

.m-r-56 {
  margin-right: 56px;
}

.m-b-56 {
  margin-bottom: 56px;
}

.p-56 {
  padding: 56px;
}

.p-t-56 {
  padding-top: 56px;
}

.p-l-56 {
  padding-left: 56px;
}

.p-r-56 {
  padding-right: 56px;
}

.p-b-56 {
  margin-bottom: 56px;
}

.p-t-a-56 {
  padding: 56px auto;
}

.p-l-a56 {
  padding: auto 56px;
}

.p-t-l-56 {
  padding: 56px 0;
}

.p-l-l56 {
  padding: 0 56px;
}

.margin-60 {
  margin: 60px;
}

.m-t-a-60 {
  margin: 60px auto;
}

.m-l-a-60 {
  margin: auto 60px;
}

.m-t-l-60 {
  margin: 60px 0;
}

.m-l-l60 {
  margin: 0 60px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-l-60 {
  margin-left: 60px;
}

.m-r-60 {
  margin-right: 60px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.p-60 {
  padding: 60px;
}

.p-t-60 {
  padding-top: 60px;
}

.p-l-60 {
  padding-left: 60px;
}

.p-r-60 {
  padding-right: 60px;
}

.p-b-60 {
  margin-bottom: 60px;
}

.p-t-a-60 {
  padding: 60px auto;
}

.p-l-a60 {
  padding: auto 60px;
}

.p-t-l-60 {
  padding: 60px 0;
}

.p-l-l60 {
  padding: 0 60px;
}

.margin-64 {
  margin: 64px;
}

.m-t-a-64 {
  margin: 64px auto;
}

.m-l-a-64 {
  margin: auto 64px;
}

.m-t-l-64 {
  margin: 64px 0;
}

.m-l-l64 {
  margin: 0 64px;
}

.m-t-64 {
  margin-top: 64px;
}

.m-l-64 {
  margin-left: 64px;
}

.m-r-64 {
  margin-right: 64px;
}

.m-b-64 {
  margin-bottom: 64px;
}

.p-64 {
  padding: 64px;
}

.p-t-64 {
  padding-top: 64px;
}

.p-l-64 {
  padding-left: 64px;
}

.p-r-64 {
  padding-right: 64px;
}

.p-b-64 {
  margin-bottom: 64px;
}

.p-t-a-64 {
  padding: 64px auto;
}

.p-l-a64 {
  padding: auto 64px;
}

.p-t-l-64 {
  padding: 64px 0;
}

.p-l-l64 {
  padding: 0 64px;
}

.margin-68 {
  margin: 68px;
}

.m-t-a-68 {
  margin: 68px auto;
}

.m-l-a-68 {
  margin: auto 68px;
}

.m-t-l-68 {
  margin: 68px 0;
}

.m-l-l68 {
  margin: 0 68px;
}

.m-t-68 {
  margin-top: 68px;
}

.m-l-68 {
  margin-left: 68px;
}

.m-r-68 {
  margin-right: 68px;
}

.m-b-68 {
  margin-bottom: 68px;
}

.p-68 {
  padding: 68px;
}

.p-t-68 {
  padding-top: 68px;
}

.p-l-68 {
  padding-left: 68px;
}

.p-r-68 {
  padding-right: 68px;
}

.p-b-68 {
  margin-bottom: 68px;
}

.p-t-a-68 {
  padding: 68px auto;
}

.p-l-a68 {
  padding: auto 68px;
}

.p-t-l-68 {
  padding: 68px 0;
}

.p-l-l68 {
  padding: 0 68px;
}

.margin-72 {
  margin: 72px;
}

.m-t-a-72 {
  margin: 72px auto;
}

.m-l-a-72 {
  margin: auto 72px;
}

.m-t-l-72 {
  margin: 72px 0;
}

.m-l-l72 {
  margin: 0 72px;
}

.m-t-72 {
  margin-top: 72px;
}

.m-l-72 {
  margin-left: 72px;
}

.m-r-72 {
  margin-right: 72px;
}

.m-b-72 {
  margin-bottom: 72px;
}

.p-72 {
  padding: 72px;
}

.p-t-72 {
  padding-top: 72px;
}

.p-l-72 {
  padding-left: 72px;
}

.p-r-72 {
  padding-right: 72px;
}

.p-b-72 {
  margin-bottom: 72px;
}

.p-t-a-72 {
  padding: 72px auto;
}

.p-l-a72 {
  padding: auto 72px;
}

.p-t-l-72 {
  padding: 72px 0;
}

.p-l-l72 {
  padding: 0 72px;
}

.margin-76 {
  margin: 76px;
}

.m-t-a-76 {
  margin: 76px auto;
}

.m-l-a-76 {
  margin: auto 76px;
}

.m-t-l-76 {
  margin: 76px 0;
}

.m-l-l76 {
  margin: 0 76px;
}

.m-t-76 {
  margin-top: 76px;
}

.m-l-76 {
  margin-left: 76px;
}

.m-r-76 {
  margin-right: 76px;
}

.m-b-76 {
  margin-bottom: 76px;
}

.p-76 {
  padding: 76px;
}

.p-t-76 {
  padding-top: 76px;
}

.p-l-76 {
  padding-left: 76px;
}

.p-r-76 {
  padding-right: 76px;
}

.p-b-76 {
  margin-bottom: 76px;
}

.p-t-a-76 {
  padding: 76px auto;
}

.p-l-a76 {
  padding: auto 76px;
}

.p-t-l-76 {
  padding: 76px 0;
}

.p-l-l76 {
  padding: 0 76px;
}

.margin-80 {
  margin: 80px;
}

.m-t-a-80 {
  margin: 80px auto;
}

.m-l-a-80 {
  margin: auto 80px;
}

.m-t-l-80 {
  margin: 80px 0;
}

.m-l-l80 {
  margin: 0 80px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-l-80 {
  margin-left: 80px;
}

.m-r-80 {
  margin-right: 80px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.p-80 {
  padding: 80px;
}

.p-t-80 {
  padding-top: 80px;
}

.p-l-80 {
  padding-left: 80px;
}

.p-r-80 {
  padding-right: 80px;
}

.p-b-80 {
  margin-bottom: 80px;
}

.p-t-a-80 {
  padding: 80px auto;
}

.p-l-a80 {
  padding: auto 80px;
}

.p-t-l-80 {
  padding: 80px 0;
}

.p-l-l80 {
  padding: 0 80px;
}

.is-shadow {
  box-shadow: 0 2px 3px 0 rgba(90, 97, 105, 0.11), 0 4px 8px 0 rgba(90, 97, 105, 0.12), 0 15px 22px 0 rgba(90, 97, 105, 0.1), 0 7px 35px 0 rgba(90, 97, 105, 0.1);
}

.is-shadow-long {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.05), 0 60px 100px 0 hsla(0, 0%, 75%, 0.5);
}

.is-text-center {
  text-align: center;
}

.is-text-left {
  text-align: left;
}

.is-text-right {
  text-align: right;
}

.is-text-uppercase {
  text-transform: uppercase;
}

.is-text-lowercase {
  text-transform: lowercase;
}

.is-text-capitalize {
  text-transform: capitalize;
}

.is-full-screen {
  width: 100%;
  min-height: 100vh;
}

.is-fixed,
.is-full-width {
  width: 100%;
}

.is-fixed {
  position: fixed;
}

.is-paddingLess {
  padding: 0 !important;
}

.is-marginLess {
  margin: 0 !important;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.is-hidden {
  display: none !important;
}

.is-list-less {
  margin: 0;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .hide-phone {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .hide-tablet {
    display: none;
  }
}

:root {
  --primary-color: #ea881c;
  --secondary-color: #FAA41B;
  --darkGreen-color: #778e70;
  --link-color: white;
  --fontPrimary--color: #52575A;
  --lightGrey-color: #94979B;
  --darkGrey-color: #37542f;
  --dark-color: #000;
  --active-color: #3A84FF;
  --grid-maxWidth: 1024px;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  background: url(/images/pattern.png?75ff56b71f9fcd5157d1d20f77b45540) center, radial-gradient(ellipse at center, #93222a 0%, #610618 61%, #31030c 100%);
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}

textarea:focus,
input:focus {
  outline: none;
}

.middle-items {
  align-items: center;
}

h1 {
  font-weight: 900;
  font-size: 4rem;
  color: var(--primary-color);
}

h2 {
  font-weight: 900;
  font-size: 2rem;
  color: var(--primary-color);
}

h3 {
  font-weight: 900;
  font-size: 1.6rem;
  color: var(--primary-color);
}

h4 {
  font-weight: 900;
  font-size: 1.6rem;
  color: #93222a;
}

.button {
  background: var(--darkGrey-color);
  min-height: 2.4rem;
  padding: 0 !important;
  margin-left: 2rem;
}

.back-primary {
  background: var(--primary-color);
}

.color-primary {
  color: var(--primary-color);
}

.is-invalid {
  font-size: 1.4rem;
  color: var(--error-color);
}

.capitalize {
  text-transform: capitalize;
}

::-webkit-input-placeholder {
  color: #bdbdbd;
  font-style: italic;
}

::-moz-placeholder {
  color: #bdbdbd;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #bdbdbd;
  font-style: italic;
}

::-ms-input-placeholder {
  color: #bdbdbd;
  font-style: italic;
}

::placeholder {
  color: #bdbdbd;
  font-style: italic;
}

svg {
  display: flex;
}

.table-container {
  max-width: 100%;
}

.Main {
  max-width: 100vw;
}

tr:nth-child(2n) {
  background: #f7fbf9;
}

.button-submit {
  min-height: initial;
  font-weight: 800;
  color: #570615;
  border-radius: 0.4rem;
}

.text-shadow {
  text-shadow: 2px 2px 2px #00000091;
}

.is-text-justify {
  text-align: justify;
}

iframe {
  max-width: 100%;
}

.Home-logoImg {
  max-width: 50rem;
  width: 90%;
}

.Home-h5 {
  font-size: 1.4rem;
  line-height: 1em;
  margin: 0 0 0.5rem;
}

.Home-p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3em;
}

.Home-form {
  max-width: 50rem;
  margin: 1.6rem auto 0;
}

.Home-link {
  color: #3A84FF;
  text-decoration: underline;
}

select option {
  background: white;
  color: #000;
}

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: linear-gradient(to bottom, #eaeaea 0%, #ebebeb 47%, #adadad 100%);
}

.Nav-link {
  display: block;
  padding: 0.8rem 2rem;
  color: #636363;
  text-align: center;
}

@media (min-width: 720px) {
  .Nav-link {
    text-align: left;
    border-left: 1px solid;
  }
}

.Nav-mobile {
  position: fixed;
  bottom: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  transition: all 0.4s ease-out;
  z-index: 10;
}

.Nav-mobile.open {
  transform: translateY(100vh);
}

.Choose {
  margin-top: 7rem;
}

@media (min-width: 720px) {
  .Choose {
    margin-top: 0;
  }
}

.Choose-figure {
  background: white;
  border-radius: 0.6rem;
  box-shadow: 4px 6px 8px -2px #00000091;
  width: 20rem;
  height: 20rem;
  margin: auto;
}

.Choose-figure img {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.Choose-p {
  font-size: 1.2rem;
  margin: 1rem auto;
  max-width: 18rem;
  text-align: justify;
}

.content-page {
  max-width: 62rem;
  background: white;
  border-radius: 1rem;
  margin: auto;
  text-align: center;
}

.content-page p {
  color: #000;
  text-align: center;
  font-size: 1.2rem;
}

.content-page b {
  color: #93222a;
  font-weight: 900;
}

.button-page {
  background: #ea881c;
  min-height: 2.4rem;
  padding: 8px 22px !important;
  margin-left: 2rem;
  color: #691218;
  font-weight: 900;
  border-radius: 10px;
}

.Contact {
  margin-top: 7rem;
}

@media (min-width: 720px) {
  .Contact {
    margin-top: 0;
  }
}

.Contact span {
  background: #691218;
  display: block;
  width: 100%;
  height: 4.5rem;
  border-radius: 0.4rem 0 0 0.4rem !important;
}

.Contact a {
  color: #000;
  font-size: 1.4rem;
}

.Contact p {
  font-size: 1.4rem;
}

.Contact input,
.Contact textarea {
  border-radius: 0 0.4rem 0.4rem 0 !important;
}

.Lottery p {
  max-width: 70rem;
  margin: auto;
}

.Lottery iframe {
  margin: 4rem auto;
}

.Lottery-board {
  width: 14%;
  margin: 0.6rem 0;
}

@media (min-width: 720px) {
  .Lottery-board {
    width: 10%;
    margin: 0.6rem 0;
  }
}

.Lottery span {
  background: white;
  color: #000;
  padding: 12px;
  display: inline-block;
  line-height: 18px;
  box-shadow: 4px 6px 8px -2px #00000091;
  cursor: pointer;
  min-width: 4.2rem;
  min-height: 4.2rem;
}

.Lottery span.selected {
  background: green;
  color: white;
}

.Lottery span.not-available {
  background: #bdbaba;
  color: #828282;
}

.Lottery span.reserved {
  background: #ea881c;
  color: #691218;
}

.Lottery input {
  padding: 0.8rem 1.6rem !important;
  display: block;
  margin: 0.5rem 0;
}

.Lottery-form-p {
  text-align: justify;
  font-size: 1.4rem;
}

.logo {
  max-width: 100px;
  position: relative;
  left: 30px;
  top: 60px;
  width: 100%;
}

.logo-mobile {
  max-width: 30rem;
  margin: auto;
}

.is-full-screen {
  min-height: calc(100vh - 56px);
}

.content-page .list-rules {
  color: black;
  text-align: left;
  list-style: -webkit-cross-fade(, 0.5);
  list-style: cross-fade();
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .hide-desktop {
    display: none;
  }
}

.Menu-mobile {
  background: white;
  position: fixed;
  right: 0;
  top: 0;
  margin: 2rem;
  border-radius: 0.6rem;
  padding: 4px 2px;
  z-index: 100;
}

.Menu-mobile span {
  display: block;
  width: 36px;
  background: #c95aab;
  border-radius: 0;
  margin: 6px 8px;
  height: 0.4rem;
  transition: all 0.2s ease-out;
}

.Menu-mobile.open span:first-child {
  transform: translateY(10px) rotate(-45deg);
  rotate: 45deg;
}

.Menu-mobile.open span:nth-child(2) {
  opacity: 0;
}

.Menu-mobile.open span:last-child {
  transform: translateY(-10px) rotate(45deg);
}

